// out: style.css

@primary-color: #3541B5;
@white: #FFFFFF;

body {
    font-family: Arial, sans-serif;
    width: 220px;
    padding: 10px;
    text-align: center;
    margin: 0;

    main {
        text-align: left;
    }
}

button {
    background-color: @primary-color;
    color: @white;
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    width: 100%;
}
